@font-face {
   font-family: 'Calistoga';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Calistoga/regular.ttf') format('truetype');
}
