@font-face {
   font-family: 'Alegreya';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Alegreya';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/%7BPROJECT%7D%20%7BCUSTOMER%7D/EZtech%20Triple-O/ZW%20QR-WEB.Project/QR-EZ/fonts/Alegreya/900italic.ttf') format('truetype');
}
